.demo-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.demo-table th,
.demo-table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.demo-table th {
  background-color: #1a203c;
  color: #fff;
  font-weight: bold;
}

.demo-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.demo-table tr:hover {
  background-color: #ddd;
}

.demo-table td:last-child {
  text-align: center;
}
.demo-table th:first-child {
  font-size: 12px;
}
.demo-table td:first-child {
  font-size: 14px;
}


.demo-table .no-results {
  text-align: center;
  font-style: italic;
  font-size: 2px;
  margin-top: 20px;
}
.page{
  display: flex;
  justify-content: flex-end;
}