<table class="demo-table mat-elevation-z8">
  <thead>
    <tr class="mat-header-row">
      <th>Sr</th>
      <th *ngFor="let head of HeadArray" class="mat-header-cell">{{ head.Head }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of GridArray; let sr = index">
      <td>{{ sr + 1 }}</td>
      <td *ngFor="let head of HeadArray" class="mat-cell">
        <ng-container *ngIf="head.FieldName !== '' && head.FieldName !== 'status' && head.FieldName !== 'action' && head.FieldName !== 'download'">
          {{ item[head.FieldName] }}
        </ng-container>

        <div *ngIf="head.FieldName === 'status'" class="text-center">
          <mat-slide-toggle [color]="item.status ? 'accent' : 'warn'" [(ngModel)]="item.status">
            <span class="slider"></span>
          </mat-slide-toggle>
          <span [ngClass]="{ 'approved': item.status, 'not-approved': !item.status }">
            <ng-container *ngIf="item.status; else notApprovedText">Approved</ng-container>
            <ng-template #notApprovedText>Not Approved</ng-template>
          </span>
        </div>

        <div *ngIf="head.FieldName === 'action'" class="text-center">
          <mat-icon color="primary" (click)="edit(item)" title="edit">edit</mat-icon>
          <mat-icon color="warn" (click)="delete(item)" style="margin-left: 10px;" title="delete">delete</mat-icon>
        </div>
        
        <div *ngIf="head.FieldName === 'download'" class="text-center">
          <mat-icon color="primary" (click)="download(item)" title="Download">cloud_download</mat-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>
