// table {
//     width: 100%;
//   }


  .demo-table {
    width: 80%;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 900px;
    border-collapse: collapse;
    font-size: 16px;
    align-items: center;
    left: 0px;
  
  }
  
  .mat-header-row {
    background-color: #393b50;
    font-weight: bold;
    // background-color: white;
  font-weight: bold;
  }
  
  .mat-row:hover {
    background-color: #ECECEC;
   
  }
  
  .table-container {
    text-align: center;
  }
  .mat-cell,
 .mat-header-cell {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  color: white; /* set text color to white */
}
// .mat-column-name{
//   color: #3c3e53;
// }

.mat-cell {
  color: #3c3e53  !important;
}