@import "../home/home.component.scss";

.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 10px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 24px;
    
    }
    .page__box {
      min-height: 50px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 30px; 
      ;
    }
    
    .edit-button {
      background-color: blue;
      color: white;
    }
    
    .delete-button {
      background-color: red;
      color: white;
    }
    
    &__content {
      min-height: calc(110vh - 178px);
      border-radius: 10px;
      margin-top: 1rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .search-box {
      position: absolute;
      top: -102px;
      right: 50px;
      width: 150px;
      height: 40px;
      margin: 120px auto;
      
    }
    
    .search-box input {
      width: 100%;
      height: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 20px;
      border: 2px solid black;
      outline: none;
    }
    
    .search-box input::placeholder {
      font-size: 16px;
      opacity: 0.5;
      transition: opacity 0.3s;
    }
    
    .search-box input:focus::placeholder {
      opacity: 0;
    }
    
    .search-box-clicked {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    
    
    .container {
      position: relative;
    }
    
  
    .add-icon {
      position: absolute;
      top: 22px;
      right: 5 rem;
      font-size: 15px;
      color: #1e293b;
      border: none;
      outline: none;
      left: 30px;
  
      }
      
    
    .table-container {
      text-align: center;
    }
    

  .mat-cell,
  .mat-header-cell {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    color: white; /* set text color to white */
  }
  .mat-column-name{
    color: #3c3e53;
  }
    
  }