<div class="container-fluid page">
    <div class="page__box">Users</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>User Details</h1>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">UserId</th>
            <th scope="col">firstName</th>
            <th scope="col">lastName</th>
            <th scope="col">username</th>
            <th scope="col">password</th>
            <th scope="col">phoneNumber</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userslist">
            <td>{{ user.userId}}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.phoneNumber }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
      </div>
    </div>
    </div>  
