<ng-container *ngIf="isFormVisible">
    <div class="form">
    
      <mat-tab-group>
        <mat-tab label="Add User">
          <br>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">First Name</mat-label>
            <input matInput class="input_field">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">Last Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">User Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">Password</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">Phone Number</mat-label>
            <input matInput>
          </mat-form-field>
      
    <hr>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="uploadDocuments()" class="btn">Save</button>
      <button mat-raised-button color="warn" (click)="closeForm()" class="btn">Close</button>
    </div>
    </mat-tab>
    </mat-tab-group>
    </div>
    </ng-container>
    
