<div class="container-fluid page">
  <div class="page__box header">
    <div class="header__title">
      Tenant Dashboard
    </div>
    <div class="header__notification" (click)="toggleNotificationCard()">
      <span class="notification-icon">
        <i class="material-icons">notifications</i>
        <span class="notification-count">{{ notificationCount }}</span>
      </span>
    </div>
  </div>
  <div class="page__content">
    <div class="row">
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="material-icons">home</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Properties</h4>
            <p class="card-description">Manage your properties and flats</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="material-icons">description</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Documents</h4>
            <p class="card-description">Access and manage your documents</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="material-icons">people</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Tenants</h4>
            <p class="card-description">Manage tenants and leases</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
