<div class="container-fluid page">
  <div class="page__box mat-display-1" style="text-align: center">Dashboard</div>
  <div class="page__content shadow p-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card" (click)="redirectToPage('/owner-property')">
          <img src="\assets\pexels-binyamin-mellish-186077.jpg" class="card-img-top" alt="Properties">
          <div class="card-body">
            <h5 class="card-title">Properties</h5>
            <p class="card-text">Manage your properties and associated documents.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="redirectToPage('/owner-document')">
          <img src="\assets\pexels-lukas-669619.jpg" class="card-img-top" alt="Documents">
          <div class="card-body">
            <h5 class="card-title">Documents</h5>
            <p class="card-text">Access and organize your documents efficiently.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="redirectToPage('/owner-user')">
          <img src="\assets\businesspeople-office-meeting.jpg" class="card-img-top" alt="Tenants">
          <div class="card-body">
            <h5 class="card-title">Tenants</h5>
            <p class="card-text">Manage your tenants and their information.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

