<div class="container-fluid page">
    <div class="page__box">History</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>History</h1>
        

      <div class="card my-5">
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Srno</th>
                    <th scope="col">stageId</th>
                    <th scope="col">finishedBy</th>
                    <th scope="col">finishedOn</th>
                    <th scope="col">DocumentVersion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of DocumentAuditlist">
                    <td>{{ user.documentA}}</td>
                    <td>{{ user.stageId }}</td>
                    <td>{{ user.finishedBy }}</td>
                    <td>{{ user.finishedOn }}</td>
                    <td>{{ user.documentVersionId }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> 
      </div>
      </div>
      </div>


