/* .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background-image: url('/assets/images/blog3.jpg'); 
  background-size: cover;
  background-position: center;
}
.login-background{

 background-image: url('/assets/images/blog3.jpg');
 background-size: cover;
}

.login-container {
  background-color: #b2c0e4;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(30, 30, 30, 30); 
  padding: 50px;
}
.success-snackbar {
background-color: green;
  color: white; }
.login-form {
  max-width: 250px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  
} */

/* input.mat-input-element {
  color: white;
} */

/* button {
  width: 100%;
}

.form-field-label {
  color: white;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: bold;
}

.success-snackbar {
  background-color: green;
  color: white;
} */

/* 
.mat-label {
  font-weight: bold;
}

.mat-card-header{
  text-align: center;
  color:#fcfbfb;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  background-color: #f2e6ff;
}

.login-form {
  max-width: 250px;
  background-color: #fcfbfb;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(30, 30, 30, 30); 
  margin-top: 100px;
}

.password-container mat-form-field  {
  display: flex;
  align-items: center;
  width: 150%;
} */

/* .mat-form-field-appearance-fill .mat-form-field-underline {
  width: 300px;
} */

/* ::ng-deep .mat-form-field-underline {
  border-bottom: 2px;
  width: 200%
} */

/* .login-button {
  margin-top: 16px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-button button {
  width: 100%;
}

.login-button span {
  margin: 0 auto;
}

  
  .login-button button {
    width: 100%;
  }
  
  .login-button span {
    margin: 0 auto;
  }
  .body {
    height: 100vh;
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
  } */
  /* .login-page {
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
  }
   */

   #hero {
    width: 100%;
    height: 120vh;
    position: relative;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
 
  .has-bg-img{
    display: flex;
    justify-content: center;
    background-image: url('/assets/features.png');
    /* background-repeat: no-repeat; */
    background-size: cover;

  }
  #hero .container {
    padding-top: 80px;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #1e293b;
    font-family: "Poppins", sans-serif;
    margin-top:-100px;
  }
  
  #hero h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
.footer-container{
  background-color:  rgba(30, 43, 57, 1);
  /* padding-bottom: 100px; */
  /* margin-top: 100px; */
  height:200px;
  /* margin-bottom: 100px; */

}
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
  }
  
  #hero .btn-get-started:hover {
    background: #3194db;
  }
  
  #hero .icon-boxes {
    margin-top: 100px;
  }
  
  #hero .icon-box {
    padding: 50px 10px;
    position: relative;
    overflow: hidden;
    background: #424a85;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    width: 4550px;
    height: 300px;
  }
  
  #hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #hero .icon-box .title a {
    color: #dee3e6;
    transition: 0.3s;
  }
  
  #hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color:#dee3e6
  }
  
  #hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #d3dce2;
  }
  
  #hero .icon-box:hover {
    transform: scale(1.08);
  }
  
  #hero .icon-box:hover .title a {
    color: #2487ce;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-height: 800px) {
    #hero {
      height: auto;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      height: auto;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 80px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f8fbfe;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
  }
  
  .section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
  }

  .btn-login{
    color: white;
    border-radius: 40px;
    background-color: #124265;
  }

  .google-login{
    margin: 20px;
  }

  .google-icon{
    height: 30px;
  }

  .head{
    height: 50px;
    background-color: black;
    color: white;
  }

  .title{
    text-align: center;
    font-style: bold;
    font-size:30px;
    color: white;
    margin-right: 35rem;

  }

  .bg{
    background: #1e293b;
  }