<!-- <div class="login-background">

<div class="body"> -->
  <!-- <div class="google-btn">
 <asl-google-signin-button type='standard' shape="rectangular" size='medium' theme="filled_blue"
     text="signin_with" locale="en-GB" size="large" logo_alignment="left" (signIn)="getAccessToken()">
     <button mat-raised-button class="btn" (click)="getAccessToken()">
    <img src="./../../assets/google.png" alt="" class="google-icon"> Login With Google
     </button>
     </asl-google-signin-button>
    </div> -->
    
  
  <!-- <mat-card>
   
    <mat-card-header> -->
      <!-- <mat-card-title> <h2>Login</h2></mat-card-title>  -->
    <!-- </mat-card-header>
    <mat-card-content class="login-container parent-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="usernameFormControl?.hasError('required')">Username is required</mat-error>
        </mat-form-field>
              
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required class="mat-form-field-underline">
          <mat-error *ngIf="passwordFormControl?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" class="login-button">
        <mat-icon>lock</mat-icon>
      <span>Login</span>
      </button>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->

 <!-- <mat-drawer-content>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg">
  <div class="col-md-3 mb-2 mb-md-0">
  </div>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
  
      <p class="title">Document Management System</p>
  </ul> 
 <button>Login</button>
</header>
<div class="has-bg-img">


<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>An Efficient Document Management system </h1>
         
        </div>
      </div>
    

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="">Easily Manage your Document</a></h4>
            <p class="description">Helps you in easily create, update, delete your document efficiently</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title"><a href="">Document Audit Trails</a></h4>
            <p class="description"> maintains a audit trail of all of actions and changes that take place on the documents in DocPro DMS. A detailed log for every document can track all events that have taken place throughout the lifecycle of the document.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="">Search And Retrival</a></h4>
            <p class="description">You can easily search and retrive your documents and properties here!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Manage Property and Users</a></h4>
            <p class="description">You can easily manage your properties,documents associated with it and users.</p>
          </div>
        </div>

      </div> 
      
    </div>
  
  </section>
 
</div>

</mat-drawer-content>  -->

<div class="container mt-5">
  <div class="card" style="padding: 20px;">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <input type="text"
          ngModel
          name="userName"
          id="userName"
          placeholder="Enter your username"
          class="form-control mb-3"
          >

          <input type="password"
          ngModel
          name="userPassword"
          id="userPassword"
          placeholder="Enter your password"
          class="form-control mb-3"
          >

          <input type="submit"
          value="Login"
          class="btn btn-outline-primary form-control rounded-0">
      </form>
  </div>
</div>