<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/tenant" style="margin-top: 30px;">
      <mat-icon>dashboard</mat-icon> Tenant Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/your-document">
      <mat-icon>assignment</mat-icon> Tenant Documents
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/your-property">
      <mat-icon>business</mat-icon> Tenant Properties
    </a>
  </mat-nav-list>
  
