:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}



mat-drawer {
  background: #0f172a;
}

.mat-drawer-content{
  overflow: hidden;
}
.drawer-scroll {
  overflow-y: auto;
}

.content-scroll {
  height: calc(100vh - 64px); /* Adjust the height as per your layout */
  overflow-y: auto;
}
