:host {
  display: flex;
  flex-direction: column;
  height: 150%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 150%;
  overflow:auto;
}

.scroll-container {
  height: calc(120vh - 64px); 
  overflow-y: auto;
}


mat-drawer {
  background: #0f172a;
}

.mat-drawer-content{
  overflow: hidden;
}
.drawer-scroll {
  overflow-y: auto;
}

.content-scroll {
  height: calc(100vh - 64px);  
  overflow-y: auto;
}
