<ng-container *ngIf="isFormVisible">
  <div class="form">
    <mat-tab-group>
      <mat-tab label="Add Document">
        <br>
        <mat-form-field appearance="outline">
          <mat-label class="input_label">Document Name</mat-label>
          <input matInput [(ngModel)]="document.documentName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input_label">User Name</mat-label>
          <mat-select [(ngModel)]="selectedUserName">
            <mat-option *ngFor="let userName of userNames" [value]="userName">{{ userName }}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label class="input_label">Property Name</mat-label>
          <input matInput [(ngModel)]="document.propertyName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input_label">Document Type </mat-label>
          <input matInput [(ngModel)]="document.docTypeName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input_label">Document Mime </mat-label>
          <input matInput [(ngModel)]="document.docMimeTypeName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input_label">Selected Files</mat-label>
          <input matInput [value]="fileNames.join('\n')" readonly>
        </mat-form-field>
        
        <button mat-icon-button (click)="fileInput.click()" class="button">
          <mat-icon>attach_file</mat-icon>
          Choose File
        </button>
        <input type="file" style="display: none" name="file" #fileInput (change)="handleFileInput($event)">
        
        <div *ngIf="fileNames.length > 0">
          <!-- <p>Selected Files:</p> -->
          <ul>
            <!-- <li *ngFor="let name of fileNames">{{ name }}</li> -->
          </ul>
        </div>
        <hr>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="uploadDocument()" class="btn">Save</button>
          <button mat-raised-button color="warn" (click)="closeForm()" class="btn">Close</button>

        </div>
      </mat-tab>
      <br>
    </mat-tab-group>
  </div>
</ng-container>
