
<div class="container-fluid page">
    <div class="page__box">Properties</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="d-flex justify-content-between align-items-center mb-3">


        <p>Property</p>
        <div class="card my-5">
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Srno</th>
                    <th scope="col">propertyName</th>
                    <th scope="col">address</th>
                    <th scope="col">city</th>
                    <th scope="col">pincode</th>
                    <th scope="col">building</th>
                    <th scope="col">floorNumber</th>
                    <th scope="col">flatNumber</th>
            </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of Propertylist">
                    <td>{{ user.propertyId}}</td>
                    <td>{{ user.propertyName }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.pincode }}</td>
                    <td>{{ user.building }}</td>
                    <td>{{ user.floorNumber }}</td>
                    <td>{{ user.flatNumber }}</td>
                
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
       

<!--         <app-button (click)="addProperty($event)" title="Add Property"> </app-button>
         <app-table
        [tableColumns]="tableColumns"
        [tableData]="tableData">
       </app-table> --> 

      </div>
    </div>
  </div>
  