#hero {
    background-image: url('/assets/features.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    color: #fff;
    padding-top: 105px;
  }
  .start{
    height: 2000px;
  }
  #hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    color:rgba(2, 9, 14, 0.8);
  }
  
  #hero .icon-box {
    background: rgba(18, 66, 101, 0.8);
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #hero .icon {
    font-size: 36px;
    line-height: 1;
    color: #d3dce2;
    margin-bottom: 20px;
  }
  
  #hero .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 20px;
  }
  
  #hero .description {
    font-size: 16px;
    line-height: 26px;
  }
  
  #hero .icon-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 24px rgba(18, 66, 101, 0.15);
  }
  .head {
    height: 50px;
    background-color: #1e293b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .btn-login {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 40px;
    transition: 0.5s;
    color: #fff;
    background: #124265;
  }
  
  .btn-login:hover {
    background: #3194db;
  }
    
 
footer {
  padding: 40px 0;
  background-color:  #1e293b;
  border-radius: 30px;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

footer p {
  margin-bottom: 10px;
  color: #fff;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #124265;
  margin-right: 10px;
  transition: 0.3s;
}

.social-icons a:hover {
  background-color: #3194db;
}

.social-icons .fa {
  font-size: 20px;
}

.quick-links .row .col {
  padding: 0;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li {
  margin-bottom: 5px;
}

.quick-links ul li a {
  display: block;
  padding-left: 30px;
  position: relative;
  color:#d3dce2;
  // background-color: #124265;
  transition: 0.3s;
}

.quick-links ul li a i {
  position: absolute;
  left: 0;
  top: 3px;
  
}

.quick-links ul li a:hover {
  color: #3194db;
}

// @media (max-width: 767px) {
//   .quick-links .row .col {
//     margin-bottom: 15px;
//   }
// }

@media (max-width: 991px) {
  #hero {
    padding: 100px;
    padding-top: 75px;
  }

  #hero h1 {
    font-size: 32px;
  }

  #hero .icon-box {
    padding: 20px;
  }

  footer {
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  #hero {
    padding: 50px;
    padding-top: 50px;
  }

  #hero h1 {
    font-size: 24px;
  }

  #hero .icon-box {
    padding: 10px;
  }
}

@media (max-width: 575px) {
  #hero {
    padding: 30px;
    padding-top: 30px;
  }

  #hero h1 {
    font-size: 20px;
  }

  #hero .icon-box {
    padding: 5px;
  }
}