<div class="start">
  <header class="head">
    
    <div class="title">Document Management System</div>
    <button class="btn-login" (click)="navigateToLogin()">Login</button>

  </header>

  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1 style="top:-50px">An Efficient Document Management System</h1>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title">Easily Manage Your Documents</h4>
            <p class="description">Efficiently create, update, and delete your documents.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title">Document Audit Trails</h4>
            <p class="description">Maintains an audit trail of all actions and changes on documents.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title">Search and Retrieval</h4>
            <p class="description">Easily search and retrieve your documents and properties.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title">Manage Properties and Users</h4>
            <p class="description">Effortlessly manage properties, associated documents, and users.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" rel="stylesheet">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h4>Contact Us</h4>
          
          <p><i class="bi bi-geo-alt-fill"></i>    Floor 7, Wing C Marisoft, Kalyani Nagar Annex, Wadgaon Sheri, Pune, Maharashtra 411014</p>
          <p><i class="bi bi-telephone-fill"></i>    +1 234 567 890</p>
          <p><i class="bi bi-envelope-fill"></i>    info@example.com</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <h4>Follow Us</h4>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>
        </div>
        <div class="col-lg-4">
          <h4>Quick Links</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="#"><i class="fa fa-cogs"></i> Services</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  
  </div>