
// .add-icon {
//     position: absolute;
//     top: 22px;
//     // right: 5rem;
//     // font-size: 15px;
//     font-size: 30px;
//     color: #1e293b;
//     border: none;
//     outline: none;
//     margin-right:80px;
//     background: none; /* remove background */
//     padding: 0; /* remove padding */
//     box-shadow: none; /* remove box shadow */
//   }
  
  .add-icon {
    position: absolute;
    top: 22px;
    // right: 5 rem;
    font-size: 30px;
    color: #1e293b;
    border: none;
    outline: none;
    left: 40px;
    margin-right:80px;
    background: none; /* remove background */
    padding: 0; /* remove padding */
    box-shadow: none; /* remove box shadow */
  
    }