<div class="container-fluid page">
  <div class="page__box mat-display-1" style="text-align: center">Admin Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="d-flex justify-content-between align-items-center mb-3">

      <section class="row">
        <figure class="col-md-4 col-sm-4 col-xs-6">
          <mat-card class="back-widget-set text-center">
            <mat-icon>business</mat-icon>
            <h3>{{ propertyCount }}</h3>
            <a routerLink="/property">Total Properties</a>
          </mat-card>
        </figure>
        <figure class="col-md-4 col-sm-4 col-xs-6">
          <mat-card class="back-widget-set text-center">
            <mat-icon class="mat-5x">people</mat-icon>
            <h3>{{ propertyCount }}</h3>
            <a routerLink="/users">Total Users</a>
          </mat-card>
        </figure>
        <figure class="col-md-4 col-sm-4 col-xs-6">
          <mat-card class="back-widget-set text-center">
            <mat-icon>assignment</mat-icon>
            <h3>{{ documentCount }}</h3>
            <a routerLink="/home">Total Documents</a>
          </mat-card>
        </figure>
        <figure class="col-md-4 col-sm-4 col-xs-6">
          <mat-card class="back-widget-set text-center">
            <mat-icon class="mat-5x">history</mat-icon>
            <h3>2</h3>
            <a routerLink="/document-details">Pending Approvals</a>
          </mat-card>
        </figure>
      </section>

    </div>
  </div>
</div>
