<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
    
  </div>
  <mat-divider></mat-divider>

  <ng-container *ngIf="isDefaultNavigation()">

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="margin-top: 30px;">
  	<mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
  	<mat-icon>assignment</mat-icon> Documents
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/property">
    <mat-icon>business</mat-icon> Properties
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
    <mat-icon>people_outline</mat-icon> Users
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/document-details">
    <mat-icon>description</mat-icon> Document-Details
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">
    <mat-icon>history</mat-icon> History
  </a>
  </ng-container>

  
  <ng-container *ngIf="isTenantDashboardNavigation()">
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/tenant" style="margin-top: 30px;">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/tenant-documents">
      <mat-icon>assignment</mat-icon> Tenant Documents
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">
      <mat-icon>business</mat-icon> Properties
    </a>
  </ng-container>


  <ng-container *ngIf="isOwnerDashboardNavigation()">
   
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="margin-top: 30px;">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/documents">
      <mat-icon>assignment</mat-icon> Documents
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
      <mat-icon>people_outline</mat-icon>Users
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/properties">
      <mat-icon>business</mat-icon> Owner Properties
    </a>
  </ng-container>

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/document-details">
    <mat-icon>description</mat-icon> Document-Details
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">
    <mat-icon>history</mat-icon> History
  </a> -->
 
</mat-nav-list>
