<ng-container *ngIf="isFormVisible">
    <div class="form">
    
      <mat-tab-group>
        <mat-tab label="Add Properties">
          <br>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">Document Name</mat-label>
            <input matInput class="input_field">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">User Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="input_label">Property Name</mat-label>
            <input matInput>
          </mat-form-field>
          <button mat-icon-button (click)="fileInput.click()"class="button">
            <mat-icon>attach_file</mat-icon>
            Choose File
          </button>
          <input type="file" style="display: none" #fileInput (change)="handleFileInput($event)">
          <div *ngIf="fileNames.length > 0">
            <p>Selected Files:</p>
            <ul>
              <li *ngFor="let name of fileNames">{{ name }}</li>
            </ul>
          </div>
    <hr>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="uploadProperty()" class="btn">Save</button>
      <button mat-raised-button color="warn" (click)="closeForm()" class="btn">Close</button>
    </div>
    </mat-tab>
    </mat-tab-group>
    </div>
    </ng-container>
