.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 10px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 24px;
  }
  .page__box {
    min-height: 50px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 30px; 
  }
  
  
  &__content {
    min-height: calc(110vh - 178px);
    border-radius: 10px;
    margin-top: 1rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .search-box {
    position: absolute;
    top: -102px; /* change this value to move it up */
    right: 10px;
    width: 300px;
    height: 40px;
    margin: 120px auto;
  }
  
  
  .search-icon {
    position: absolute;
    // top: 100%;
    right: 10px;
    transform: translateY(-120%);
    cursor: pointer;
    font-size: 24px;
    height: 30px;
    width: 20px;
    
  }

  .search-icon-hidden {
    opacity: 0;
  }
  .search-field {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: 20px;
    border: 2px solid #1e293b;
    text-align: center;
  }
  

  
  .container {
    position: relative;
  }
  

  .add-icon {
    position: absolute;
    top: 22px;
    right: 5 rem;
    font-size: 15px;
    color: #1e293b;
    border: none;
    outline: none;
    left: 30px;

    }
    
  
  .table-container {
    text-align: center;
  }
  
  // .demo-table {
  //   width: 80%;
  //   height: 400px;
  //   margin-top: 50px;
  //   margin-left: 50px;
  //   margin-right: 900px;
  //   border-collapse: collapse;
  //   font-size: 16px;
  //   align-items: center;
  //   left: 0px;
  
  // }
  
  // .mat-header-row {
  //   background-color: #3c3e53;
  //   font-weight: bold;
  //   // background-color: white;
  // font-weight: bold;
  // }
  
  // .mat-row:hover {
  //   background-color: #ECECEC;
  // }
  
  // .mat-cell, .mat-header-cell {
  //   padding: 12px;
  //   text-align: center;
  //   border: 1px solid #ddd;
  // }
  
.mat-cell,
.mat-header-cell {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  color: white; /* set text color to white */
}
.mat-column-name{
  color: #3c3e53;
}
  
}

